{% trans_default_domain 'gdpr' %}
{% if uknight_gdpr.use_css %}
    <link rel="stylesheet" href="{{ asset('bundles/uknightgdpr/css/gdpr.css') }}">
{% endif %}
<script src="{{ asset('bundles/uknightgdpr/js/gdpr.js') }}"></script>
<div id="gdpr-cookie-message" class="{{ uknight_gdpr.panel_class }}">
    <h4 class="{{ uknight_gdpr.header_class }}">{{ 'gdpr.consent_header'|trans }}</h4>
    <p class="{{ uknight_gdpr.text_class }}">
        <span>
            {{ 'gdpr.consent_text'|trans }}
            <a href="{% if uknight_gdpr.privacy_link is not empty %}{{ uknight_gdpr.privacy_link }}{% else %}{{ path(uknight_gdpr.privacy_path, uknight_gdpr.path_params) }}{% endif %}">
                {{ 'gdpr.link_privacy'|trans }}
            </a>
        </span>
        <button id="gdpr-cookie-accept" class="{{ uknight_gdpr.button_class }}" type="button">
            {{ 'gdpr.btn_accept'|trans }}
        </button>
    </p>
</div>
