#gdpr-cookie-message {
    display: block;
    width: 100%;

    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    margin: 0;

    background: #2bc4a8;
    color: #2a2e31;

    /*text-align: center;*/

    opacity: 1;
    transform: translate(0, 100%);
    transition: .2s ease;
}

#gdpr-cookie-message.show {
    opacity: 1;
    transform: translate(0,0);
}

#gdpr-cookie-message p {
    font: 1.5rem / 1.333 'PT Sans Caption', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#gdpr-cookie-message a {
    color: #fff;
}

#gdpr-cookie-message a:hover {
    text-decoration: none;
}

#gdpr-cookie-message h4 {
    /* your css here */
}

#gdpr-cookie-message p:last-child {
    /* your css here */
}

#gdpr-cookie-accept {
    padding: 1rem;
    width: 15rem;
    margin: -1rem 0 0 0;
    float: right;
}

#gdpr-cookie-accept:hover {
    /* your css here */
}

@media screen and (max-width: 910px) {
    #gdpr-cookie-message p {
        text-align: center;
        flex-direction: column;
    }
    #gdpr-cookie-accept {
        display: block;
        margin: 2rem auto;
        float: none;
    }
}
